* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #111;
  max-height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #111;
  height: 120px;
}

.logo:hover img {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.logo img {
  height: 100px;
  width: 160px;
}

.login-wrapper {
  display: flex;
  font-family: 'Poppins', sans-serif;
  max-height: 100vh;
  height: 100vh;
}

.login-image {
  max-width: 40%;
}

.login-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.login-box {
  max-height: 100vh;
  width: 100%;
  padding: 5rem 3rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.login-box h2 {
  font-size: 2rem;
  color: #E63946;
}

.subtitle {
  margin-bottom: 2rem;
  color: #333;
  font-size: 0.95rem;
}

.form-login {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.input-group input {
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.btn-login {
  background-color: #E63946;
  color: #fff;
  font-weight: 600;
  font-size: medium;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 45px;
  width: 200px;
}

.btn-login:hover {
  background-color: #d62828;
}

.register-link {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}

.btn-register {
  font-size: medium;
  display: flex;
  background-color: #E63946;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  width: max-content;
  height: 45px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn-register:hover {
  background-color: #d62828;
}

.esqueci-senha {
  display: block;
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #888;
  text-align: center;
  text-decoration: none;
}

.esqueci-senha:hover {
  color: #E63946;
}

@media (max-width: 768px) {

  body {
    max-height: none;
    overflow: auto;
  }

  .logo {
    width: 100px;
  }

  .logo img {
    width: 100%;
  }

  .login-wrapper {
    flex-direction: column;
    max-height: none;
  }

  .login-image {
    display: none;
  }

  .login-box {
    padding: 2rem 1.5rem;
  }
}
